@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgb(11, 0, 74) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1650px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo, footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #dc7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    right: 15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #dc7000;
}

header nav ul li.btn a, .email .block button {
    background: #fa9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background: #bb6100;
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    width: 630px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #e87d0e;
    font-size: 20px;
    font-weight: 700;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 700;
}
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, .hero-about .info .btn {
    background-color: #fa8305;
    font-size: 17px;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover, .hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 100px;
    right: 0;
    width: 700px;
    border-radius: 40px;
}

/* Game section */

.trending {
    padding-top: 50px;
}

.trending h3 {
    font-size: 31px;
    font-weight: 700;
}

.trending .see-all, .projects .see-all {
    color: #fff;
    background: #25211d;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games .block .img {
    width: 250px;
    height: 330px;
    border-radius: 40px;
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    width: 25px;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    width: 650px;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 30px;
}

/* Section img */

.features {
    background: url('../img/wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3, .features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
}

.features .info .block p {
    color: #ffffff;
}

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .images img {
    height: 300px;
    border-radius: 50px;
}

.projects .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

/* The Footer */

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email p {
    padding-top: 20px;
}

.email .block {
    background: #0e0b2c;
    margin-top: 30px;
    border-radius: 15px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 700px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 450px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: #fff;
}

/* Footer */

footer {
    background: #000;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 500px;
    margin: 25px 0;
}

footer .blocks h4 {
    font-size: 17px;
    font-weight: 500;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}

/*About us*/

.hero-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 0;
    position: relative;
}

.hero-about .info {
    width: 600px;
    padding: 150px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.hero-about img {
    position: absolute;
    right: -150px;
    width: 1000px;
}

.work {
    padding: 80px 0;
}

.work h2 {
    margin-bottom: 40px;
    font-size: 25px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #000f3f;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    padding: 10px 20px;
    border-radius: 7px;
}

.work .blocks .block .badge.purple {
    background: #560f67;
}

.work .blocks .block .badge.brown {
    background: #31190d;
}

.work .blocks .block .badge.green {
    background: #192a1d;
}

.about-email {
    margin-top: 0;
}

/* Contact page */

.hero-contact h1 {
    text-align: center;
    font-size: 33px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.hero-contact p {
    text-align: center;
}

.hero-contact img {
    width: 70%;
    margin: 80px 15%;
}

.feedback {
    padding: 70px;
    background: #1c140f;
}

.feedback h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inline>div {
    width: 50%;
}

.feedback form label {
    color: #4f4f4f;
    font-size: 14px;
}

.feedback form input, .feedback form textarea {
    background: #2c2420;
    border-radius: 10px;
    border: 0.6px solid #cecece;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 95%;
}

.feedback form textarea {
    resize: none;
    height: 200px;
}

.feedback form button {
    background: #dc7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    padding: 15px 35px;
    color: #fff;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: #a35400;

}






